@import "~/.cache/rofi_colors.rasi"
* {
	text-color:  #ffeedd;
	bg: #ffffff00;
	background-color: @bg;
	border-color: #ffffff00;
}
mainbox {
    expand: true;
    spacing: 2%;
}
element selected  normal {
    background-color: @urgent-background;
}
element alternate normal {
    background-color: @bg;
}
element normal normal {
	background-color: @bg;
}
